<head>
	<style>
	body {padding-top:0px;}
	</style>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-olnly">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href"#">Partner Portal</a>
    </div>

<ul class="nav navbar-nav navar-right">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About", about_path %></li>
    <% if user_signed_in? %>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
    <% else %>
        <li><%= link_to "Sign in", new_user_session_path %></li>
    <% end %>
</ul>
</nav>

<h1>About the Partner Portal</h1>
<p>Partner portal gives people the ability to manage projects and communicate easier while using dropbox. 
</p>
</body>
