<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Partner Portal</a>
	</div>
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Dashboard</a></li>
			<li><a href="#">Settings</a></li>
			<li><a href="#">Profile</a></li>
		</ul>
		<form class="navbar-form navbar-right">
			<input type="text" class="form-control" placeholder="Search...">
		</form>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3">
			<ul class="nav nav-sidebar">
				<li id="Overview"><a href="#">Overview</a></li>
				<li id="Reports"><a href="#">Reports</a></li>
				<li id="Data"><a href="#">Data Sets</a></li>
				<li id="Export"><a href="#">Export</a></li>
				<li id="Contacts"><a href="#">Contacts</a></li>
				<li id="Calendar"><a href-"#">Calendar</a></li>
			</ul>
			<ul class="nav nav-sidebar">
				<li><a href="#">Stuff</a></li>
				<li><a href="#">Stuff</a></li>
				<li><a href="#">Stuff</a></li>
				<li><a href="#">Stuff</a></li>
			</ul>
			<iframe src="http://www.dropbox.com" width="50%"></iframe>
			

		</div>

			<div class="main">
				
					<p>Biodiesel keytar Tonx Brooklyn. Vinyl fixie gastropub gentrify, semiotics YOLO kitsch. Schlitz Neutra pop-up Godard biodiesel. Flexitarian Banksy pop-up trust fund 90's freegan. Bicycle rights Carles twee yr, tattooed seitan sriracha master cleanse plaid asymmetrical +1. Terry Richardson meggings vinyl 3 wolf moon hella. Ethical authentic fixie, sartorial typewriter lomo swag try-hard Echo Park Pinterest sustainable polaroid Banksy wolf.

					Gentrify 3 wolf moon yr twee wayfarers Helvetica. Cosby sweater hoodie typewriter retro fingerstache Williamsburg. Mlkshk wayfarers twee, PBR single-origin coffee Cosby sweater craft beer mumblecore cardigan Carles. Small batch fashion axe tofu, tattooed viral distillery trust fund craft beer kogi. Vegan Thundercats quinoa 90's, stumptown Tonx raw denim leggings ethical tote bag McSweeney's 8-bit. 3 wolf moon normcore trust fund keytar meggings disrupt. Chillwave typewriter selvage put a bird on it Shoreditch Cosby sweater.

					Polaroid church-key meggings cardigan, actually readymade messenger bag plaid butcher distillery before they sold out street art dreamcatcher roof party. Pinterest +1 squid locavore distillery flannel, fanny pack 8-bit sriracha Brooklyn asymmetrical YOLO. 8-bit typewriter kogi umami, seitan letterpress paleo fashion axe pop-up. Freegan hella viral American Apparel paleo. Shabby chic American Apparel put a bird on it tote bag banh mi. McSweeney's ethical mumblecore, tote bag organic next level lo-fi lomo messenger bag farm-to-table pork belly. Yr raw denim mlkshk Carles, banh mi Wes Anderson Tonx PBR.

					Direct trade ethnic meh, artisan Odd Future small batch Godard gentrify authentic. Butcher mustache chambray iPhone. Fingerstache Thundercats vegan Wes Anderson pork belly, vinyl High Life. Distillery sustainable lo-fi XOXO, freegan quinoa Cosby sweater umami fingerstache. Farm-to-table Neutra Tonx, pug selfies organic irony tattooed. Squid leggings fanny pack deep v iPhone. Selvage ethical retro aesthetic drinking vinegar, ugh pop-up post-ironic Carles cardigan gluten-free Helvetica tousled single-origin coffee twee.
					</p>
					<P>
					Biodiesel keytar Tonx Brooklyn. Vinyl fixie gastropub gentrify, semiotics YOLO kitsch. Schlitz Neutra pop-up Godard biodiesel. Flexitarian Banksy pop-up trust fund 90's freegan. Bicycle rights Carles twee yr, tattooed seitan sriracha master cleanse plaid asymmetrical +1. Terry Richardson meggings vinyl 3 wolf moon hella. Ethical authentic fixie, sartorial typewriter lomo swag try-hard Echo Park Pinterest sustainable polaroid Banksy wolf.
					</P>
			
			</div>
		
	</div>
</div>

</body>