<!DOCTYPE html>
<html>
<head>
  <title>MpnUrbinary</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="css/bootstrap.min.css" rel="stylsheet" >
</head>
<body>

<div>
	<%= yield %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script src="js/bootstrap.min.js"></script>

</div>

</body>
</html>
